# Goland (developer-specific stuff)
.idea/workspace.xml
.idea/dataSources.xml

# Unit test output
_test/tmp/
_test/tools/*

# Compiled executables
_test/*.exe
_test/*.bin

# Log files, no matter where
*.log
*.log.*