# Goland (developer-specific stuff)
.idea/workspace.xml
.idea/dataSources.xml

# Unit test output
_test/tmp/

# Compiled executables
_test/*.exe
_test/*.bin

# Log files, no matter where
*.log
*.log.*

# Add-ons not part of this release
discovery/inventory_itam.go
discovery/inventory_itam_test.go